@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fuggles&family=Poppins:wght@300&family=Roboto&family=Ubuntu&display=swap');

/* font-family: 'Fuggles', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Poppins', sans-serif; */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    padding: 0px 3px;
    background-color: rgb(144, 179, 127);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(22, 48, 18, 0.6), rgba(47, 197, 24, 0.6), rgba(22, 48, 18, 0.6));
}

.com3-nav {
    margin-left: -20px;
}

.sec5 {
    background-color: rgb(144, 179, 127);
    padding-bottom: 40px;
    min-height: 94.2vh;
}

.sec5-1 {
    padding: 0px 200px;
}

.sec5-2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 80vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec5-3 h2 {
    margin: 30px -20px 10px 0px;
    font-size: 35px;
    color: rgb(52, 72, 42);
    font-family: 'Roboto', sans-serif;
}

.sec5-4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ul {
    width: 80%;
}

.list {
    border-radius: 20px;
    padding: 8px 30px;
    align-items: center;
    margin: 40px 0px;
    list-style: none;
    box-shadow: 2px 2px 10px rgba(38, 53, 30, 0.8), -2px -2px 10px rgba(38, 53, 30, 0.8);
    background-color: rgb(209, 242, 191);
    display: flex;
    justify-content: space-between;
}

.list:hover {
    box-shadow: 2px 2px 10px rgba(38, 53, 30, 0.4), -2px -2px 10px rgba(38, 53, 30, 0.4);
    background-color: rgb(183, 246, 149);
}

.sec5-4-1,
.sec5-4-1-2,
.sec5-4-1-3,
.sec5-4-2,
.sec5-4-2-1,
.sec5-4-2-2 {
    display: flex;
}

.sec5-4-1-2,
.sec5-4-1-3 {
    margin-bottom: 5px;
}

.sec5-4-1-1 label {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-right: 6px;
}

.sec5-4-1-1 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(38, 53, 30, 0.8);
    line-height: 28px;
}

.sec5-4-1 {
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.sec5-4-2 {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec5-4-2 {
    font-size: 20px;
}

.sec5-4-2 i {
    cursor: pointer;
}

.sec5-4-2 i:hover {
    filter: drop-shadow(2px 2px 8pxrgb(47, 129, 27));
}

.sec5-4-2 i:active {
    color: rgb(16, 91, 171);
    filter: drop-shadow(2px 2px 10px rgb(229, 247, 225));
}

.sec5-4-1 i {
    font-size: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
}

.sec5-4-1-1 {
    width: 80%;
    justify-content: space-evenly;
}

.dia-a {
    display: flex;
    justify-content: space-between;
}

.fa-circle-xmark {
    font-size: 30px;
    font-weight: 600;
    color: rgb(52, 72, 42);
}

.dcont {
    display: flex;
    flex-direction: column;
}

#dialog-title p {
    font-size: 26px;
    font-weight: 700;
}

.sname,
.smail,
.smobi,
.sadd,
.sadd2,
.scou {
    margin: 10px 5px 0px 5px;

}

.sname p,
.smail p,
.smobi p,
.sadd2 p,
.sadd p,
.scou p {
    margin-left: 70px;
    font-size: 21px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: rgb(52, 72, 42);
}

.scou p {
    margin-top: 10px;
}

.sname span,
.smail span,
.smobi span,
.sadd2 span,
.sadd span,
.scou span {
    margin-left: 30px;
    font-size: 19px;
    color: rgb(32, 147, 14);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.smail span {
    margin-left: 49px;
}

.smobi span {
    margin-left: 60px;
}

.sadd2 span {
    margin-left: 34px;
}

.sadd span {
    margin-left: 46px;
}

.scou .count {
    margin-left: 50px;
}

.scou .st {
    margin-left: 75px;
}

.scou .pi {
    margin-left: 42px;
}

.css-ypiqx9-MuiDialogContent-root {
    padding: 0px 24px 30px 24px !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    border-radius: 20px !important;
    min-width: 40%;
    min-height: 70%;
}

.inco {
    margin-left: 50px !important;
}

.inst {
    margin-left: 75px !important;
}

.inz {
    margin-left: 40px !important;
}

.butns-ed {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.butns-ed button {
    box-shadow: 2px 2px 10px rgb(52, 72, 42);
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 6px 10px;
    color: rgb(78, 111, 61) !important;
    font-size: 19px;
    color: rgb(18, 20, 18);
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.dcont input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(52, 72, 42);
    padding: 2px 2px 1px 2px;
    font-size: 16px;
    font-weight: 600;
    color: green;
}

@media screen and (max-width:500px) {
    .sec5-1 {
        padding: 0px 50px;
    }

    .sec5-3 h2 {
        margin: 20px -20px 10px 0px;
        font-size: 27px;
        color: rgb(52, 72, 42);
        font-family: 'Roboto', sans-serif;
    }

    .smail span {
        margin-left: 15px !important;
    }

    .smobi span {
        margin-left: 25px !important;
    }

    .sadd2 span {
        margin-left: 14px !important;
    }

    .sadd span {
        margin-left: 14px !important;
    }

    .scou .count {
        margin-left: 15px !important;
    }

    .scou .st {
        margin-left: 35px !important;
    }

    .scou .pi {
        margin-left: 10px !important;
    }

    .inco {
        margin-left: 17px !important;
    }

    .inst {
        margin-left: 37px !important;
    }

    .inz {
        margin-left: 10px !important;
    }

    .ul {
        width: 90%;
    }

    .list {
        border-radius: 20px;
        padding: 8px 10px;
        align-items: center;
        margin: 30px 0px;
        list-style: none;
        box-shadow: 2px 2px 10px rgba(38, 53, 30, 0.8), -2px -2px 10px rgba(38, 53, 30, 0.8);
        background-color: rgb(209, 242, 191);
        justify-content: space-between;
        flex-direction: column;
    }

    .sec5-4-1 {
        width: 90%;
        flex-direction: column;
    }

    .sec5-4-1-1 {
        width: 100%;
        margin: 8px 0px;
    }

    .sec5-4-1-1 p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: rgba(38, 53, 30, 0.8);
        line-height: 19px;
    }

    .sec5-4-1-3 {
        text-overflow: ellipsis;
    }

    .sec5-4-1-1 label {
        display: none;
    }

    .sec5-4-2 {
        font-size: 15px;
    }

    .sec5-4-1 i {
        font-size: 18px;
        margin-right: 5px;
        border: 2px solid black;
        padding: 5px;
        border-radius: 50%;
    }

    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
        max-height: calc(100% - 64px);
        max-width: 700px;
    }

    #dialog-title p {
        font-size: 20px;
        font-weight: 700;
    }

    .scou .count {
        margin-left: 0px;
    }

    .scou .st {
        margin-left: 0px;
    }

    .scou .pi {
        margin-left: 0px;
    }

    .fa-circle-xmark {
        font-size: 25px;
    }

    .sname p,
    .smail p,
    .smobi p,
    .sadd2 p,
    .sadd p,
    .scou p {
        margin-left: 0px;
        font-size: 16px;
        font-weight: 700;
    }

    .sname span,
    .smail span,
    .smobi span,
    .sadd2 span,
    .sadd span,
    .scou span {
        margin-left: 0px;
        font-size: 14px;
        color: rgb(32, 147, 14);
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    .lod {
        width: 100%;
        height: 100%;
    }
}